body {
    background-color: rgb(34, 39, 45);
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    margin-bottom: 100px;
    color: rgb(255, 244, 228);
}

.container {
    color: white;
    text-align: center;
    display: none;
}

.temp-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tempButton {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
}

#moreInfoButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
}

.weather-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#weath_img {
    margin-left: 10px;
}

.moreInfoField {
    display: flex;
    justify-content: center;
    align-items: right;
    padding: 5px;
}

.moreInfoField h3 {
    margin-left: 10px;
    padding: 0;
}
  